<ion-view>
    <ion-content>
    
         
        <div id="orders">
        <div id="name"></div>
        <div id="location"></div>
        <div id="destination"></div>
        <div id="payment"></div>
    
        <div class="button-bar">
            <a class="button button-calm" id="open">Open Map</a>
            
            <a class="button button-calm" id="delete">Delete Order</a>
        </div>    
        
        </div>
     
        <div id="map" data-tap-disabled="true"></div>
    
    </ion-content>

</ion-view>